{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron-img jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Order Tracker</h1>
    </div>
</div>
<div class="container">
    
    <div class="row">
        <div class="col-8">
            <h6>Processing/Cancelled Orders</h6>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">State</th>
                    <th scope="col">No. Items</th>
                    <th scope="col">Shipping Details</th>
                    <th scope="col">Total</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, order in orders %}
                        <tr>
                            <th scope="row">{{index + 1}}</th>
                            <td>{{order.state}}</td>
                            <td>{{order.orderItems|length}}</td>
                            <td>{{order.orderShippingDetail.country}} - {{order.orderShippingDetail.state}}</td>
                            <td>{{order.total}}</td>
                            <td>{{order.discount}}</td>
                            <td><button>Cancel</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="col-sm-12">
                <input type="submit" value="Send" class="btn btn-success float-right" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}