{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block label %}Home{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
    
        <div class="col-3" style="border-right: 1px dotted black">
            <h4 style="text-align: center">Add Item</h4>
            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    {{ form_widget(form.itemName, { 'attr': {'class': 'form-control mb-2'} }) }}
                    {{ form_widget(form.itemPrice, { 'attr': {'class': 'form-control mb-2'} }) }}
                    {{ form_widget(form.itemQuantity, { 'attr': {'class': 'form-control mb-2'} }) }}
                    {{ form_widget(form.country, { 'attr': {'class': 'form-control mb-2'} }) }}
                </div>
                <div class="col">
                    {{ form_widget(form.state, { 'attr': {'class': 'form-control mb-2'} }) }}
                    {{ form_widget(form.zip, { 'attr': {'class': 'form-control mb-2'} }) }}
                    {{ form_widget(form.street, { 'attr': {'class': 'form-control mb-2'} }) }}
                    {{ form_widget(form.phone, { 'attr': {'class': 'form-control mb-2'} }) }}
                </div>
            </div>

            <div class="col-sm-12 mt-2">
                <input type="submit" value="Save" class="btn btn-primary float-right" />
            </div>
            {{ form_end(form) }}
        </div>

        <div class="col-9">
            <h4 style="text-align: center">Orders</h4>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                    <th scope="col">State</th>
                    <th scope="col">Items</th>
                    <th scope="col">Shipping Details</th>
                    <th scope="col">Total</th>
                    {# <th scope="col">Discount</th> #}
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, order in pagination %}
                        <tr>
                            <td>{{order.state}}</td>
                            <td>
                                <ul>
                                    {% for index, orderItem in order.orderItems %}
                                        <li><span style="font-weight: bolder">Name:</span> {{orderItem.getName()}}</li>
                                        <li><span style="font-weight: bolder">Price:</span> ${{orderItem.getPrice()}}</li>
                                        <li><span style="font-weight: bolder">Qty:</span> {{orderItem.getQuantity()}}</li>
                                        <hr/>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>{{order.orderShippingDetail.country}}</li>
                                    <li>{{order.orderShippingDetail.state}}</li>
                                    <li>{{order.orderShippingDetail.zip}}</li>
                                    <li>{{order.orderShippingDetail.street}}</li>
                                    <li>+{{order.orderShippingDetail.phone}}</li>
                                </ul>
                            </td>
                            <td>${{order.total}}</td>
                            {# <td>{{order.discount}}</td> #}
                            <td style="text-align: center">
                                {% if order.getShippedBoxes()[0].getLabelImage() is defined %}
                                    <img width="150" height="150" src="{{ asset(order.getShippedBoxes()[0].getLabelImage()) }}"/>
                                {% endif %}
                            </td>
                            <td>
                                {% if order.state is same as 'ORDER_RECEIVED' %}
                                    <a href="{{ path('cancel_order', { id: order.id, state: 'ORDER_CANCELED' }) }}">
                                        cancel
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}