{% extends 'base.html.twig' %}

{% block title %}Managers{% endblock %}

{% block label %}Managers{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
            <h4 style="text-align: center">Orders</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">State</th>
                    <th scope="col">No. Items</th>
                    <th scope="col">Shipping Details</th>
                    <th scope="col">Total</th>
                    {# <th scope="col">Discount</th> #}
                    <th scope="col">Image</th>
                    <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, order in pagination %}
                        <tr>
                            <td>{{order.state}}</td>
                            <td>
                                <ul>
                                    {% for index, orderItem in order.orderItems %}
                                        <li><span style="font-weight: bolder">Name:</span> {{orderItem.getName()}}</li>
                                        <li><span style="font-weight: bolder">Price:</span> ${{orderItem.getPrice()}}</li>
                                        <li><span style="font-weight: bolder">Qty:</span> {{orderItem.getQuantity()}}</li>
                                        <hr/>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>{{order.orderShippingDetail.country}}</li>
                                    <li>{{order.orderShippingDetail.state}}</li>
                                    <li>{{order.orderShippingDetail.zip}}</li>
                                    <li>{{order.orderShippingDetail.street}}</li>
                                    <li>+{{order.orderShippingDetail.phone}}</li>
                                </ul>
                            </td>
                            <td>${{order.total}}</td>
                            {# <td>{{order.discount}}</td> #}
                            <td style="text-align: center">
                                {% if order.getShippedBoxes()[0].getLabelImage() is defined %}
                                    <img width="150" height="150" src="{{ asset(order.getShippedBoxes()[0].getLabelImage()) }}"/>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('manager_view_order', { id: order.id }) }}">
                                    View
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="col-12 mb-3">
        {% if order is defined %}
            <h4 style="text-align: center">Item Details</h4>
            <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">State</th>
                        <td>Items</td>
                        <td>Shipping</td>
                        <td>Total</td>
                        {# <td>Discount</td> #}
                    </tr>
                    <tr>
                        <td>{{order.state}}</td>
                        <td>
                            {% for index, item in order.orderItems %}
                            <ul>
                                <li><span style="font-weight: bolder">Name:</span> {{item.name}}</li>
                                <li><span style="font-weight: bolder">Price:</span> ${{item.price}}</li>
                                <li><span style="font-weight: bolder">Qty:</span> {{item.quantity}}</li>
                                <hr/>
                            </ul>
                            {% endfor %}
                        </td>
                        <td>
                            <ul style="list-style-type: none">
                                <li>Country: {{order.orderShippingDetail.country}}</li>
                                <li>State: {{order.orderShippingDetail.state}}</li>
                                <li>Zip: {{order.orderShippingDetail.zip}}</li>
                                <li>Street: {{order.orderShippingDetail.street}}</li>
                                <li>Phone: {{order.orderShippingDetail.phone}}</li>
                            </ul>
                        </td>
                        <td>${{order.total}}</td>
                        {# <td>{{order.discount}}</td> #}
                    </tr>
                </tbody>
            </table>
        {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h4 style="text-align: center">Logs</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">State</th>
                    <th scope="col">Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, log in paginationLogs %}
                        <tr>
                            <td>{{log.state}}</td>
                            <td>{{log.message}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(paginationLogs) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}