{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h6>Shipper</h6>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">State</th>
                    <th scope="col">No. Items</th>
                    <th scope="col">Shipping Details</th>
                    <th scope="col">Total</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Box ID</th>
                    <th scope="col">Details</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, order in pagination %}
                        <tr>
                            <td>{{order.state}}</td>
                            <td>{{order.orderItems|length}}</td>
                            <td>{{order.orderShippingDetail.country}} - {{order.orderShippingDetail.state}}</td>
                            <td>{{order.total/100}}</td>
                            <td>{{order.discount}}</td>
                            <td>
                                {% if order.getPickedBoxes()[0].getBoxId() is defined %}
                                    {{order.getPickedBoxes()[0].getBoxId()}}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('shipper_view_order', { id: order.id }) }}">
                                    View
                                </a>
                            </td>
                            <td>
                                {% if order.state is same as 'ORDER_READY_TO_SHIP' %}
                                    <a href="{{ path('shipper_state_change', { id: order.id, state: 'ORDER_SHIPPED' }) }}">
                                        ship
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="col-3">
        {% if order is defined %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Item Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">State</th>
                        <td>Items</td>
                        <td>Shipping</td>
                        <td>Total</td>
                        <td>Discount</td>
                    </tr>
                    <tr>
                        <td>{{order.state}}</td>
                        <td>
                            {% for index, item in order.orderItems %}
                            <div>item #{{index+1}}</div>
                            <ul style="list-style-type: none">
                                <li>Name: {{item.name}}</li>
                                <li>Price: {{item.price/100}}</li>
                                <li>Qty: {{item.quantity}}</li>
                            </ul>
                            {% endfor %}
                        </td>
                        <td>
                            <ul style="list-style-type: none">
                                <li>Country: {{order.orderShippingDetail.country}}</li>
                                <li>State: {{order.orderShippingDetail.state}}</li>
                                <li>Zip: {{order.orderShippingDetail.zip}}</li>
                                <li>Street: {{order.orderShippingDetail.street}}</li>
                                <li>Phone: {{order.orderShippingDetail.phone}}</li>
                            </ul>
                        </td>
                        <td>{{order.total/100}}</td>
                        <td>{{order.discount}}</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}